<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body onload="renderBody()">
<br/>
<div style="text-align: left">
    <button type="button" class="button btn-default" onclick="window.location.href='{FORWARD}'">
        {BUTTON}
    </button>
    {EDITING_PERIOD}
</div>
<br/>
<div class="ilTableOuter table-responsive">
    <table class="table table-striped fullwidth">
        <thead>
        <th class="tblheader">{VERSION}</th>
        <th class="tblheader">{CREATED}</th>
        <th class="tblheader">{EDITOR}</th>
        <th class="tblheader">{DOWNLOAD}</th>
        </thead>
        <tbody id="table_body">
        <!-- BEGIN table_row -->
        <tr class='tblrow2'>
            <td class='std'>{TABLE_ROW_VERSION}</td>
            <td class='std'>{TABLE_ROW_CREATED_AT}</td>
            <td class='std'>{TABLE_ROW_USER}</td>
            <td class='std small'>
                <a href='{TABLE_ROW_DOWNLOAD_URL}'>
                    <button class='btn btn-default'><i class='fa fa-download'></i></button>
                </a>
            </td>
        </tr>
        <!-- END table_row -->
        </tbody>
    </table>
</div>
</body>






