<div class="ilTableOuter table-responsive">
    <table class="table table-striped fullwidth">
        <thead>
        <th class="tblheader">{TYPE_HEADER}</th>
        <th class="tblheader">{TITLE_HEADER}</th>
        <th class="tblheader">{DESCRIPTION_HEADER}</th>
        <th class="tblheader">{EXTENSION_HEADER}</th>
        <th class="tblheader">{SETTINGS_HEADER}</th>
        </thead>
        <tbody id="table_body">
        <!-- BEGIN entry -->
        <tr>
            <td>{TYPE}</td>
            <td>{TITLE}</td>
            <td>{DESCRIPTION}</td>
            <td>{EXTENSION}</td>
            <td>{SETTINGS}</td>
        </tr>
        <!-- END entry -->
        </tbody>
    </table>
</div>
